$fs-large: 1rem;
$fs-medium: 0.875rem;
$fs-small: 0.75rem;

$spacing-xl: 2.625rem;
$spacing-large: 1.75rem;
$spacing-medium: 1rem;
$spacing-small: 0.5rem;
$spacing-tiny: 0.25rem;

$mobile-logo-height: 45px;

$imagine1-size: 150px;

ul {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: $spacing-medium;

  li {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-bottom: $spacing-small;
    margin-bottom: $spacing-large;
    border-bottom: 1px solid #ddd;

    a {
      color: white;
      text-decoration: none;
    }
  }
  .material-icons {
    vertical-align: middle;
    color: white;
  }
  .contact a:hover {
    color: #530b0e;
  }
}
@media (max-width: 768px) {
  .contact-information {
    flex-direction: column;
    ul,
    form {
      width: 100%;
      padding: 0;
    }

    li {
      margin-bottom: $spacing-medium;
    }

    li:last-of-type {
      margin-bottom: $spacing-large;
    }

    input[type="submit"] {
      margin-bottom: 0;
    }
  }
}