$fs-large: 1rem;
$fs-medium: 0.875rem;
$fs-small: 0.75rem;

$spacing-xl: 2.625rem;
$spacing-large: 1.75rem;
$spacing-medium: 1rem;
$spacing-small: 0.5rem;
$spacing-tiny: 0.25rem;
$mobile-logo-height: 45px;
$imagine1-size: 150px;

.contact {
  min-height: 120vh;
  background-color: #0b1519;
  color: white;
  .contact-container {
    min-height: max-content;
    .contact-title {
      background-image: url("../img/about.jpg");
      background-size: cover;
      height: 45vh;
      padding-top: 120px;
      text-align: center;
      font-family: "Special Elite", sans-serif;
      text-transform: uppercase;
      color: white;
      text-shadow: 2px 2px 3px #530b0e;
    }
    .contact-text {
      .contact-information {
        display: flex;
      }
    }
  }
}

@media(max-width: 520px){
  .contact-title{
    h2{
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }
}