.story {
  background-color: #0b1519;
  min-height: max-content;
}
.story h2,
h4 {
  font-family: 'Special Elite', sans-serif;
}
.story-container {
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}
.story-text {
  background-color: #131d1f !important;
  height: 65vh;
}
.story-text:hover {
  box-shadow: 8px 13px 35px 3px #ffc107;
  -webkit-box-shadow: 8px 13px 35px 3px #ffc107;
  -moz-box-shadow: 8px 13px 35px 3px #ffc107;
}
.story-img {
  height: 65vh;
}
.story-img img:hover{
  transform: scale(1.1);
}
.story-img img {
  width: 100%;
  height: 65vh;
  object-fit: cover;
}

@media (max-width: 993px) {
  .story {
    min-height: max-content;
    padding-bottom: 10px;
  }
  .story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: #ffc107 1px 0 10px;
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .story-text {
    order: 1;
    background-image: url('../img/story.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: #131311 3px 0 30px;
  }

  .story-img {
    display: none;
  }
}
