.footer{
    min-height: 30vh;
    background-color: #0b1519;
    color: white;
    margin: auto;
}
.title{
    font-family: "Special Elite", sans-serif;
    color: #530B0E;
}
.nap{
    font-family: "Special Elite", sans-serif;
    color: #530B0E;
}
span{
    vertical-align: middle;
}
.facebook{
    vertical-align:baseline;
   font-size: 20px;
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.col1{
    align-self: center;
}

@media(max-width:924px){
    .footer-container{
        flex-direction: column;
    }
    .col1{
       text-align: center;
    }
    
}