.navbar-collapse {
  flex-grow: 0 !important;
  z-index: 3;
  color: white !important;
}

.nav-menu {
  background-color: white !important;
}

.scrolling {
  background-color: #0b1519 !important;
}
.navbar-nav {
  text-shadow: 0 0 5px black !important;
  font-weight: 600 !important;
  font-size: 1.1rem;
}
@media(max-width: 400px){
navbar-nav{
 background-color: #0b1519 !important;
}
}
