.cta {
  background-image: url('../img/header1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 110vh;
  margin-top: 0;
}

.cta-text {
  padding-top: 230px;
  color: white;
  font-family: "Special Elite", sans-serif;
  font-style: normal;
  font-weight: 600;
  animation-duration: 3s;
  animation-name: fadeAndScale;
  h1{
    font-size: 50px;
  }
}

@keyframes easeIn {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 30px;
  }
}

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

button {
  font-family: sans-serif !important;
}

@media (max-width: 924px) {
  .cta {
    height: min-content;
  }

  .cta-text {
    padding-top: 90px;
    padding-bottom: 50px;
    h1{
      font-size: 35px;
    }
  }
  
}
